spring:
  datasource:
    url: jdbc:postgresql://localhost:5434/imagelite
    username: seu_usuario
    password: sua_senha
  jpa:
    database: POSTGRESQL
    hibernate:
      ddl-auto: update
    show-sql: true
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB